# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Jump to turnip step'
      'command': 'ruby-turnip:jump-to-step'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ruby-turnip'
      'submenu': [
        {
          'label': 'Jump to turnip step'
          'command': 'ruby-turnip:jump-to-step'
        }
      ]
    ]
  }
]
